# Server Port
PORT=3000

# Optional OpenSea API Key (if you wish to query OpenSea API directly instead of the default live aggregator)
OPENSEA_API_KEY=

# Collection details
COLLECTION_SLUG=sunflower-land-collectibles
CONTRACT_ADDRESS=0x22d5f9b7337a28424268307d08405d4f4cd4d742
